@font-face {
  font-family: 'gobold_boldregular';
  src: url('gobold_bold-webfont.woff2') format('woff2'),
    url('gobold_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'have_heart_oneregular';
  src: url('have_heart_one-webfont.woff2') format('woff2'),
    url('have_heart_one-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
